p::first-letter {
    font-weight: bold;
    color: crimson;
    font-size: 1.2em;
}
p::first-line {
    font-family: sans-serif;
}
p::selection {
    color: orangered;
    background-color: blanchedalmond;
}