.surprise {
    opacity: 0;
    color: lightgray;
    background-color: rgb(2, 85, 169);
    width: 5em;
    position: relative;
    top: -1em;
    left: 0em;
    padding: 0.5em;
    border-radius: 3px;
    transition: 1s;
}
.dropdown:hover .surprise {
    opacity: 1;
    top: 1em;
    left: 2em;
}