body {
    background-color: burlywood;
    font-family: sans-serif;
    text-align: center;
}

h1, h2 {
    color: darkgreen;
    font-size: 2em;
    text-align: center;
}

h3 {
    text-decoration: underline;
    text-decoration-color: cadetblue;
    text-decoration-style: dotted;
}

h4 {
    margin-top: 2.5em;
}

p {
    font-weight: lighter;
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: green;
}

a:hover {
    text-decoration: underline;
    color: rgb(21, 186, 21);
}

ul {
    list-style-type: circle;
}

#ceai {
    color: rgb(206, 99, 0);
}

.coffee {
    color: brown;
}



