* {
    box-sizing: border-box;
}

body {
    background-color: burlywood;
    font-family: sans-serif;
}

h1, h2 {
    color: darkgreen;
    font-size: 2em;
    /* text-align: center; */
}

h3 {
    text-decoration: underline;
    text-decoration-color: cadetblue;
    text-decoration-style: dotted;
}

h4 {
    margin-top: 2.5em;

}

p {
    font-weight: lighter;
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: green;
}

a:hover {
    text-decoration: underline;
    color: rgb(21, 186, 21);
}

ul {
    list-style-type: circle;
}

#ceai {
    color: rgb(206, 99, 0);
}

.coffee {
    color: brown;
}

blockquote {
    overflow: visible;
    border: 3px dashed rgb(214, 214, 214);
    padding: 0.5em;
    margin: auto;
    height: 9em;
    width: 22em;
    background-color: cadetblue;
    color: rgb(233, 233, 233);
    background-image: url('background.gif');
    background-repeat: no-repeat;
    background-position: bottom right;
}



