/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
article {
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-image: url('img/1.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    color: white;
    font-family: petersburg-web;
    font-weight: 700;
    font-size: 8em;
    margin-bottom: 0.2em;
}
a {
    font-family: futura;
    color: white;
    font-size: 2.3em;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}
a::after {
    content: '';
    height: 3px;
    width: 100%;
    display: block;
    background-color: white;
    position: absolute;
    transform: scaleX(0);
    transition: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
a:hover::after {
    transform: scaleX(1);
}
article#portofolio {
    background-color: rgb(203, 93, 94);
    background-image: none;
}
.pictures {
    margin-bottom: 2em;
}
@keyframes bounce {
    from {
        transform: translateY(0);
        color: white;
    }
    50% {
        transform: translateY(-60px);
        color: black;
    }
    to {
        transform: translateY(0);
        color: white;
    }
}
h1 span {
    display: inline-block;
}
h1 span:nth-child(2),
h1 span:nth-child(4),
h1 span:nth-child(7),
h1 span:nth-child(10),
h1 span:nth-child(12) {
    animation-name: bounce;
    animation-duration: 1s;
}
h1 span:nth-child(2) {
    animation-delay: 0.05s;
}
h1 span:nth-child(4) {
    animation-delay: 0.1s;
}
h1 span:nth-child(7) {
    animation-delay: 0.15s;
}
h1 span:nth-child(10) {
    animation-delay: 0.20s;
}
h1 span:nth-child(12) {
    animation-delay: 0.25s;
}
