body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.wall {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    width: 70vh;
    height: 70vh;
    background-color: antiquewhite;
    padding: 2em;
}
img {
    display: block;
    width: 100%;
}
img:nth-child(1) {
    grid-area: 1 / 1 / span 3 / span 3;
    z-index: 1;
}
img:nth-child(2) {
    grid-area: 3 / 3 / span 4 / span 4;
}
img:nth-child(3) {
    grid-area: 6 / 6 / span 5 / span 5;
    z-index: 1;
}